<header class="nav-bar">
    <div class="nav-content">
        <!-- <a href="{{ '/' | relative_url }}">
            <div class="nav-logo">
                <img src="./assets/img/mlh-prep.png" />
            </div>
        </a> -->
        <div class="nav-links">
            <a href="/index.html#Profile-id">About</a>
            &emsp;
            <a href="/index.html#Education-id"> Education</a>
            &emsp;
            <a href="/index.html#WorkExperience-id"> Work experience</a>
            &emsp;
            <a href="/index.html#Projects-id"> Projects</a>
            &emsp;
            <a href="/pages/contact.html"> Contact</a>


        </div>
        
    </div>
</header>