<div class="profile" id="Profile-id">
    <div class="left-half">
        <div class="profile-picture">
            <img src="./assets/img/profile-picture.jpg">
        </div>
        <h1>{{ site.title }}</h1>
    </div>
    <div class="right-half">
        <h2> 
            
            I am a MSc student at Electrical and Computer Engineering department of <a href="https://www.mcgill.ca/"> McGill University </a>, where I am co-advised by
            <a href="https://www.cim.mcgill.ca/~ferrie/Welcome.html"> Prof. Frank Ferrie </a> and <a href="https://www.cim.mcgill.ca/~dudek/"> Prof. Gregory Dudek</a>.
            I recieved my Bsc in Electrical Engineering from <a href=""> Ferdowsi University of Mashhad</a>.
            <br/><br/>
            Curently, I am doing research as a part of <a href="http://www.cim.mcgill.ca/~apl/">Artificial Perception Lab.</a>  
            and <a href="https://www.cim.mcgill.ca/~mrl/">Mobile Robotics Lab.</a> at <a href="https://www.mcgill.ca/cim/">CIM</a> focusing on
            intelligence in robotics. Previously, I was an Autonomy developer intern in <a href="https://ottomotors.com/">OTTO Motors</a>, 
            the industrial devision of <a href="https://clearpathrobotics.com/"> Clearpath Robotics Inc. </a>.
            <br/><br/>
            My reserach interest lies in the field of application of machine learning and computer vision methods to mobile robotics.
            My work over the past years has focused on deep learning and reinforcement learning to enable the mobile robots preceive their environment
            and perform planning based on the data.
            
        </h2>
    </div>
</div>