.profile {
    background-color: #164216 !important;
    text-align: center;
    position: relative;
    min-height: 100%;
    margin-bottom: 50px;

    .left-half {
        height: 100%;
        width: 100%; //40%
        position: relative; //absolute;
        // left: 0px;
    }

    .right-half {
        height: 100%;
        width: 100%; //60%
        position: relative; //absolute;
        // right: 0px;
    }


    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
    }
    
    .img-profile {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
    }
    
    .profile-picture {
        margin-bottom: 20px;
        height: 300px;
    }

    h2 {
        text-align: justify;
        padding: 30px 90px 30px 90px;
        // margin-right: 20px;
        font-size: 20px;
        font-weight: 500;
        color: white;

        a {color: rgb(180, 156, 156);}
    }

    .external-link{
        height: 30px;
        align-items: center;
    }

    .img-logo{
        width: 30px;
        height: 30px;
    }

}
